.mrgT10 {
	margin-top: 10px;
}

.mrgT20 {
	margin-top: 20px;
}

.mrgT20 {
	margin-top: 20px;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.vertical-middle {
	vertical-align: middle;
}